.container
  .row
    .col-lg-8.col-sm-8
      %h2 What We Do
      %p Here is where you will introduce visitors to the business. Make sure to use clear and informative sentences. Use appropriate keywords here to make sure search engines can find the business.
      %p When using this template, two decisions will be open to visitors. Decision one will be to use above-the-fold information to interact with the page. Decision two will be to scroll down and see the additional marketing boxes. Either way, the user will get the information they need!
      %p
        %a.btn.btn-default.btn-large{href: "#"} Call to action »
    .col-lg-4.col-sm-4
      %h2 Contact Us
      %address
        %strong Twitter, Inc.
        = succeed "795" do
          %br/
        = succeed "San" do
          %br/
        %br/
      %address
        %abbr{title: "Phone"}> P:
        (123) 456-7890
        %br/
        %abbr{title: "Email"} E:
        %a{href: "mailto:#"} first.last@example.com
  %hr/
  .row
    .col-sm-4
      %img.img-circle.img-responsive.text-center.photo{src: image_path('rand_p_1.png') }/
      %h2.photo-name Mateusz Rohde
    .col-sm-4
      %img.img-circle.img-responsive.photo{src: image_path('rand_p_2.png') }/
      %h2.photo-name Dariusz Musielak
    .col-sm-4
      %img.img-circle.img-responsive.photo{src: image_path('rand_p_3.png') }/
      %h2.photo-name Krzysztof Rój
