.container.photos
  .row
    .col-sm-4
      %img.img-circle.img-responsive.text-center.photo{src: image_path('rand_p_1.png') }/
      %h2.photo-name Mateusz Rohde
    .col-sm-4
      %img.img-circle.img-responsive.photo{src: image_path('rand_p_2.png') }/
      %h2.photo-name Dariusz Musielak
    .col-sm-4
      %img.img-circle.img-responsive.photo{src: image_path('rand_p_3.png') }/
      %h2.photo-name Krzysztof Rój
