- flash.each do |name, msg|
  - if msg.is_a?(String) && msg.present?
    %div{class: "alert alert-#{name == :notice ? "success" : "danger"}"}
      .container
        %a.close{"data-dismiss" => "alert", class: "alert-dismissable"} ×
        = content_tag :div, msg, id: "flash_#{name}"
