%nav.navbar.navbar-fixed-top.navbar-inverse{ role: "navigation" }
  .container
    .navbar-header
      %button.navbar-toggle{ "data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: "#" } Start Bootstrap
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav
        %li
          %a{href: "#about"} About
        %li
          %a{href: "#services"} Services
        %li
          %a{href: "#contact"} Contact
